#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define CDH 0
#define CNR 1
#define LWR 2
#define RSE 3
#define ADJ 4

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            quick_tap_ms = <0>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        tri_layer {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
&kp Q  &kp W  &kp E      &kp R    &kp T        &kp Y      &kp U          &kp I          &kp O       &kp P
&kp A  &kp S  &kp D      &kp F    &kp G        &kp H      &kp J          &kp K          &kp L       &kp SEMICOLON
&kp Z  &kp X  &kp C      &kp V    &kp B        &kp N      &kp M          &kp COMMA      &kp PERIOD  &kp SLASH
              &kp LCTRL  &kp TAB  &kp SPACE    &kp ENTER  &kp BACKSPACE  &kp RIGHT_WIN
            >;
        };
    };
};
